html
    head 
        title=title
    body
        h1(class=["myClass"])= head
        p(id="myId") 
            h3 This is the body
            ul
                each val in list
                    li=val
                
